.App-header-home {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Recycle-home {
    margin-top: 30px;
    height: 325px;
    pointer-events: none;
}

.Clock-home {
    margin-top: 110px;
    position: absolute;
    height: 160px;
}

@media (prefers-reduced-motion: no-preference) {
    .Recycle-home {
        animation: Recycle-home-spin infinite 20s linear;
    }
}

@keyframes Recycle-home-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Title {
    color: #09d3ac;
}

.HomeP {
    margin-top: 0px;
}