.App-header-list {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Creator {
  padding-right: 50px;
}

.Refresh {
  font-family: monospace;
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: none;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Refresh:hover {
  cursor: pointer;
  color: #09d3ac;
}

.Title {
  margin-top: 40px;
}

.SmallerTitle {
  margin-top: 0px;
}

.GameTableTyping {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr {
  background-color: #282c34;
}

tr:hover {
  transition: 0.5s;
  background-color: #696b71;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.JoinButton {
  font-family: monospace;
  font-size: 25px;
  border-radius: 10px;
}

.JoinButton:hover {
  transition: 0.5s;
  color: #09d3ac;
}