.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Recycle {
    margin-top: 40px;
    height: 325px;
    pointer-events: none;
}

.Clock {
    margin-top: 120px;
    position: absolute;
    height: 160px;
}

@media (prefers-reduced-motion: no-preference) {
    .Recycle {
        animation: Recycle-spin infinite 20s linear;
    }
}

@keyframes Recycle-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Title {
    color: #09d3ac;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover {
    background-color: #09d3ac;
}

li img {
    display: block;
    padding: 14px 16px;
    margin-right: 25px;
}

.Active {
    background-color: #045445;
}

.GameArea {
    margin-top: 25px;
    height: 80vh;
    width: 99vw;
    border-style: solid;
    border-color: #09d3ac;
}