.App {
    text-align: center;
    font-family: monospace;
}

.App-logo-single {
    margin-top: 25px;
    height: 325px;
    pointer-events: none;
}

.Keyboard-icon-single {
    margin-top: 70px;
    position: absolute;
    height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-single {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header-typing {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Character {
    margin-top: 0;
    white-space: pre;
    border-style: solid;
    border-color: #09d3ac;
}

.Character-current {
    background-color: #09d3ac;
}

.Character-out {
    color: silver;
}

.Container {
    display: flex;
    justify-content: center;
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Column {
    display: flex;
    flex-direction: column;
    flex: 1;
}