.App {
    text-align: center;
    font-family: monospace;
}

.App-logo {
    margin-top: 40px;
    height: 325px;
    pointer-events: none;
}

.Keyboard-icon {
    margin-top: 85px;
    position: absolute;
    height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Character {
    white-space: pre;
    border-style: solid;
    border-color: #09d3ac;
}

.Character-current {
    background-color: #09d3ac;
}

.Character-out {
    color: silver;
}

.Container {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover {
    background-color: #09d3ac;
}

li img {
    display: block;
    padding: 14px 16px;
    margin-right: 25px;
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Column {
    display: flex;
    flex-direction: column;
    flex: 1;
}