.App {
    text-align: center;
    font-family: monospace;
}

.App-logo-multi {
    margin-top: 25px;
    height: 325px;
    pointer-events: none;
}

.Keyboard-icon-multi {
    margin-top: 70px;
    position: absolute;
    height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-multi {
        animation: App-logo-multi-spin infinite 20s linear;
    }
}

.App-header-multi {
    background-color: #282c34;
    min-height: 92.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link-multi {
    color: #61dafb;
}

@keyframes App-logo-multi-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Character-multi {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre;
    border-style: solid;
    border-color: #09d3ac;
}

.Character-current-multi {
    background-color: #09d3ac;
}

.Character-out-multi {
    color: silver;
}

.Container-multi {
    display: flex;
    justify-content: center;
}

.Row-multi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Column-multi {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.TypingMultiTitle {
    margin-bottom: 0px;
}