.App-header-login {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Signup-login {
    margin-top: 60px;
    margin-left: 25px;
    position: relative;
    height: 200px;
}

.Title-login {
    color: #09d3ac;
    font-size: 50px;
}

.Wrapper-login {
    border: solid #011511;
    border-radius: 20px;
    margin: 25px;
    width:35vw;
}

.Row-login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto auto 10px;
    width: 90%;
}

.input-login {
    font-size: 25px;
    width: 90%;
    border-radius: 10px;
    margin: auto auto 10px;
}

.SubmitBtn-login {
    font-size: 25px;
    width: 90%;
    border-radius: 10px;
    background-color: #09d3ac;
    margin: auto auto 10px;
}

.Alert-login {
    background-color: red;
    width: 90%;
    margin: auto auto 10px;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    .Wrapper-login {
        margin: 25px;
        width:90vw;
    }

    .Row-login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .input-login {
        font-size: 30px;
    }

    .SubmitBtn-login {
        font-size: 30px;
    }
}
